@import "tailwindcss";

:root {
  --font-primary: "Inter", sans-serif;

  --color-primary: #4731d3;
  --color-accent: #cbf281;

  --color-background: #ffffff;
  --color-text: #000000;
  --color-indigo-dark: #3730a3;
}

html {
  font-family: var(--font-primary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-text);
}

.container {
  max-width: 960px;
  margin-inline: auto;
}
